.form-title{
    text-align: center;
    color: #FFFF;
}

form{
    padding: 10px;
    width: 80%;
}

.form-block{
    height: 66vh;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.form-div{
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-div label{
    margin-bottom: 5px;
    font-weight: 500;
}

.form-div select{
    border-radius: 5px;
    height: 4vh;
    text-align: center;
    font-weight: 500;
}


.form-div input{
    border-radius: 5px;
    height: 4vh;
}

.btn-div{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.btn {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);    font-family: Roboto Flex, sans-serif;
    font-size: 16px;
    min-width: 90px;
    padding: 10px 5px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: #FFFF;
}
.red{
    color: red;
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}
    /* // Large devices (desktops, 992px and up) */
    @media(min-width: 992px) {

        form{
            padding: 10px;
            width: 50%;
        }
        
        .form-div label{
            font-size: 1.4rem;
        }
        .btn{
            min-width: 150px;
        }
    }